.header_container {
    min-height: fit-content;
    background-color: var(--bg-dark-blue);
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;}

.logo_container{
    height: fit-content;
}

.self_logo {
    width: 5rem;
    height: 5rem;
}

.nav_name_container {
    margin: 0 20px;
}

.p_text_header{
    color: var(--bg-misty-blue);
    font-size: x-large;
    font-weight: 500;
}