.nav_container{
    width: 8rem;
    height: 88.5vh;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.link {
    padding: 20px 10px ;
    cursor: pointer;
}

.link:hover {
    background-color: rgba(0,0,0,.15);
    border-left: 7px solid var(--bg-dark-blue);
}

.link_a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.nav_icon {
    width: 2.5rem;
    height: 2.5rem;
}

.nav_text {
    margin-top: 13px !important;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
